---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: printerdb
  namespace: databases
spec:
  interval: 10m
  chart:
    spec:
      chart: postgresql
      version: 12.5.6
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      postgresql:
        auth:
          postgresPassword: "${POSTGRES_ADMIN_PASSWORD}"
          username: madbuda
          password: "${POSTGRES_PRINTER_PASSWORD}"
          database: printer
    image:
      registry: docker.io
      repository: bitnami/postgresql
      tag: "15.3.0"
    primary:
      persistence:
        enabled: true
        existingClaim: printerdb-data-v1
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true