---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    createNamespace: true
  
  values:
    image:
      repository: public.ecr.aws/docker/library/eclipse-mosquitto
      tag: 2.0.15
    env:
      TZ: America/Detroit
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 192.168.10.54
        externalTrafficPolicy: Cluster
        ports:
          http:
            enabled: false
          mqtt:
            enabled: true
            port: 1883
    auth:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: mosquitto
    persistence:
      data:
        enabled: true
        existingClaim: mosquitto-config-v1
      configinc:
        enabled: true
        type: custom
        volumeSpec:
          secret:
            secretName: mosquitto