---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app minio
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    global:
      nameOverride: *app
    image:
      repository: quay.io/minio/minio
      tag: RELEASE.2023-06-19T19-52-50Z
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    service:
      main:
        ports:
          http:
            port: &console-port 9001
          api:
            enabled: true
            port: &api-port 9000

    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "Minio Console"
          hajimari.io/icon: mdi:pail
        hosts:
          - host: &host minio.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: *console-port
        tls:
          - hosts:
              - *host
      s3:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
          nginx.ingress.kubernetes.io/proxy-body-size: 5000m
          nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            chunked_transfer_encoding off;
        hosts:
          - host: &host s3.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  port: *api-port
        tls:
          - hosts:
              - *host

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: api
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
            scrapeTimeout: 10s
    args:
      - server
      - /data
      - --console-address
      - :9001
    persistence:
      config:
        enabled: true
        existingClaim: minio-zfs
        mountPath: /data
    env:
      MINIO_UPDATE: "off"
      TZ: "${TIMEZONE}"
      MINIO_BROWSER_REDIRECT_URL: https://minio.${SECRET_DOMAIN}
      MINIO_SERVER_URL: https://s3.${SECRET_DOMAIN}
      MINIO_PROMETHEUS_URL: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
      MINIO_PROMETHEUS_JOB_ID: minio
      MINIO_PROMETHEUS_AUTH_TYPE: public
    envFrom:
      - secretRef:
          name: minio-secret

    nodeSelector:
      node-role.kubernetes.io/worker: "true"
      node-restriction.kubernetes.io/zfs: "true"

    podSecurityContext:
      runAsUser: 1032
      runAsGroup: 100
      fsGroup: 100
      fsGroupChangePolicy: "OnRootMismatch"
