apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-data-longhorn
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi