---
apiVersion: v1
kind: ConfigMap
metadata:
  name: 10gbsw-gatus-ep
  namespace: networking
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: edge_switch
        group: infra
        url: icmp://192.168.10.7
        interval: 1m
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: pushover
