---
apiVersion: v1
kind: ConfigMap
metadata:
  name: misc-gatus-ep
  namespace: networking
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: nas
        group: infra
        url: icmp://${NAS}
        interval: 1m
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: pushover

      - name: edge switch
        group: infra
        url: icmp://192.168.10.7
        interval: 1m
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: pushover

      - name: office switch
        group: infra
        url: icmp://192.168.10.6
        interval: 1m
        conditions:
          - "[CONNECTED] == true"
        alerts:
          - type: pushover

      - name: check-domain-and-certificate-expiration
        group: domains
        url: "https://madbuda.me
        interval: 1h
        conditions:
          - "[DOMAIN_EXPIRATION] > 720h"

      - name: check-domain-and-certificate-expiration
        group: domains
        url: "https://subether.me
        interval: 1h
        conditions:
          - "[DOMAIN_EXPIRATION] > 720h"

      - name: check-domain-and-certificate-expiration
        group: domains
        url: "https://madhouse.pro
        interval: 1h
        conditions:
          - "[DOMAIN_EXPIRATION] > 720h"
