---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 15m
  chart:
    spec:
      chart: cert-manager
      version: v1.13.1
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    installCRDs: true
    #    extraArgs:
    #      - --dns01-recursive-nameservers=45.90.30.101:53,45.90.28.101:53
    #      - --dns01-recursive-nameservers-only
    #    podDnsPolicy: None
    #    podDnsConfig:
    #      nameservers:
    #        - "45.90.30.101"
    #        - "45.90.28.101"
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
        prometheusInstance: monitoring
