---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-trakt-sync
  namespace: media
spec:
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/taxel/plextraktsync
      tag: 0.31.4

    args:
      - watch

    enableServiceLinks: false

    env:
      PLEX_BASEURL: http://plex.media.svc.cluster.local:32400
      PLEX_LOCALURL: http://plex.media.svc.cluster.local:32400
      PLEX_TOKEN: ${SECRET_PLEX_TOKEN}
      PLEX_USERNAME: madbuda
      TRAKT_USERNAME: madbuda

    service:
      main:
        enabled: false

    ingress:
      main:
        enabled: false

    persistence:
      config-yaml:
        enabled: true
        mountPath: /app/config/config.yml
        name: plex-tract-sync-configmap
        readOnly: true
        subPath: config.yml
        type: configMap

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: "OnRootMismatch"
# no probes
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    resources:
      requests:
        cpu: 5m
        memory: 101M
      limits:
        memory: 101M

    volumeClaimTemplates:
#      - name: config
#        mountPath: /app/config
#        accessMode: ReadWriteOnce
#        size: 1Gi
#        storageClass: ceph-block
      - name: config-v1
        mountPath: /app/config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: longhorn
